body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	user-select: none;
	background-color: #999;
}

#calc-container {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calc {
	height: 280px;
	width: 450px;
	padding: 6px;
	border-radius: 33px 33px 22px 22px;
	box-sizing: border-box;
	background: linear-gradient(#4fc1ff, #0091e0);
	box-shadow: inset -4px -5px 10px 2px rgba(0, 0, 0, 0.4), inset 4px -5px 10px 2px rgba(0, 0, 0, 0.4), 
	inset 0 3px 5px 2px rgba(250, 250, 250, 0.4),
	0 4px 8px 1px rgba(0, 0, 0, 0.7);
}

#display-container {
	height: 68px;
	width: 405px;
	margin: 13px auto;
	background-color: #151515;
	border-radius: 20px;
	border-left: 4px solid #222;
	border-top: 4px solid #111;
	border-right: 4px solid #222;
	border-bottom: 4px solid #333;
	box-shadow: -1px -2px 8px 1px rgba(20,20,20,0.3), 1px -2px 8px 1px rgba(20,20,20,0.3), 0 3px 5px 1px rgba(255,255,255,0.25);
}

#main-display {
	height: 56px;
	font-size: 56px;
	margin-top: -10px;
}
#sub-display {
	height: 18px;
	width: 380px;
	font-size: 13px;
	margin-top: -3px;
}

textarea {
	width: 388px;
	margin: 0 auto;
	position: relative;
	display: block;
	border: none;
	background: transparent;
	overflow: hidden;
	resize: none;
	outline: none;
	text-align: right;
	color: #EEE;
	cursor: default;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}
textarea:focus {
   outline: none;
}

#outer-number-container, #outer-misc-container {
	display: inline-block;
}

.col-btn {
	display: block;
}

#button-container {
	display: grid;
	justify-content: center;
}

.sup {
	vertical-align: top;
}

#clear-all, #clear-one {
	height: 72px;
}

#outer-number-container {
	z-index: 2;
	vertical-align: top;
	grid-row: 1;
}
#number-container {
	width: 185px;
	padding: 0 0 0 4px;
}

#outer-misc-container {
	grid-row: 1;
}

#inner-misc-container, #number-container {
	display: grid;
	grid-template-columns: 62px 62px 62px;
}

#operator-container, #x-container {
	width: : 50px;
	vertical-align: top;
	display: grid;
	grid-gap: 5px;
}

#operator-container, #x-container {
	grid-template-rows: 33px 33px 33px 33px;
}

#clear-container {
	grid-template-rows: 72px 72px;
}

button {
	height: 34px;
	width: 50px;
	margin: 2px 4px;
	transition-duration: 0.2s;
	outline: none;
	background-color: #222;
	color: #eee;
	font-family: 'Graduate', sans-serif;
	font-weight: bold;
	font-size: 15px;
	border-radius: 35%;
	border-top: 4px solid #444;
	border-right: 5px solid #353535;
	border-bottom: 5px solid #111; 
	border-left: 5px solid #353535;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.45), inset 0 0 1px 1px rgba(222,222,222,0.1);
}

button:active {
	color: #DDD;
	border-top: 5px solid #000;
	border-right: 5px solid #252525;
	border-bottom: 4px solid #333;
	border-left: 5px solid #252525;
	box-shadow: inset 0 0 1px 1px rgba(111,111,111,0.1);
}

